#comics{
    min-height: 800px;
        background-color: #1c1c1c;
    .btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 0;
        .btn{
            width: 150px;
            height: 30px;
            text-transform: uppercase;
        }
        .btn-main{
            background-color: $main-color;
            color:#fff;
            font-weight: bold;
            font-size: 12px;
        }  
    }   
    .comics-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;
        .card{
            flex-basis: calc(100% / 6);
            margin: 10px 20px;
            h5{
                color:#fff;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }

}