footer{
    height: 600px;
    background-image: url('../images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;


    .top-footer{
        display: flex;
        align-items: center;
        height: 100%;
        .footer-links{
           flex-basis: 50%;
           display: flex;
           flex-wrap: wrap;
           ul{
            flex-basis: 30%;
            list-style-type: none;
               h5{
                   color:#fff;
                   text-transform: uppercase;
               }
               a{
                   color:grey;
                   text-decoration:none ;
               }
           }
           p {
            color:grey;
            span{
                color:$main-color;
            }

        }
        }
        .bkg-logo{
            flex-basis: 50%;
            height: 70%;
        }
    }   
    .bottom-footer{
        background-color: #303030;
        height: 120px;

        .cols{
            display: flex;
            align-items: center;
            padding-top: 50px;
            .button-col{
                flex-basis: 50%;
                .button{
                    width: 120px;
                    height: 30px;
                    border: 1px solid $main-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{
                        text-decoration: none;
                        color:#fff;
                    }
                }
            }
            .social-col{
                flex-basis: 50%;
                display: flex;
                align-items: center;
                justify-content: end;
                h3{
                    color:$main-color;
                }
            }
        }

    } 
}