body{
    font-family: 'Montserrat', sans-serif;

    }


    .container{
        max-width: 1200px;
        margin: 0 auto;
    }

    img{
        max-width: 100%;
    }

    .mx-3{
        margin: 0 1.5rem;
    }
