@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap);body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

header {
  height: 100px;
}
header .header-top {
  height: 15%;
  background-color: #0282f9;
  text-transform: uppercase;
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: bold;
  color: #fff;
}
header .header-top .card-info,
header .header-top .additional-info {
  margin: 0 15px;
}
header .header-bottom {
  height: 85%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
header .header-bottom .search {
  margin-left: 30px;
  border-bottom: 1px solid #0282f9;
}
header .header-bottom .search input {
  border: none;
}
header .logo {
  width: 60px;
}
header ul {
  display: flex;
  list-style-type: none;
}
header ul li {
  margin: 0 10px;
}
header ul li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}

#jumbotron {
  height: 350px;
  background-image: url("../images/jumbotron.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#comics {
  min-height: 800px;
  background-color: #1c1c1c;
}
#comics .comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}
#comics .comics-container .card {
  flex-basis: 16.6666666667%;
  margin: 10px 20px;
}
#comics .comics-container .card h5 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}