@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap);header {
  height: 100px;
}
header .header-top {
  height: 15%;
  background-color: #0282f9;
  text-transform: uppercase;
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: bold;
  color: #fff;
}
header .header-top .card-info,
header .header-top .additional-info {
  margin: 0 15px;
}
header .header-bottom {
  height: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
header .header-bottom .search {
  margin-left: 30px;
  border-bottom: 1px solid #0282f9;
}
header .header-bottom .search input {
  border: none;
}
header .logo {
  width: 60px;
}
header ul {
  display: flex;
  list-style-type: none;
}
header ul li {
  margin: 0 10px;
}
header ul li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  height: 600px;
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer .top-footer {
  display: flex;
  align-items: center;
  height: 100%;
}
footer .top-footer .footer-links {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
}
footer .top-footer .footer-links ul {
  flex-basis: 30%;
  list-style-type: none;
}
footer .top-footer .footer-links ul h5 {
  color: #fff;
  text-transform: uppercase;
}
footer .top-footer .footer-links ul a {
  color: grey;
  text-decoration: none;
}
footer .top-footer .footer-links p {
  color: grey;
}
footer .top-footer .footer-links p span {
  color: #0282f9;
}
footer .top-footer .bkg-logo {
  flex-basis: 50%;
  height: 70%;
}
footer .bottom-footer {
  background-color: #303030;
  height: 120px;
}
footer .bottom-footer .cols {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
footer .bottom-footer .cols .button-col {
  flex-basis: 50%;
}
footer .bottom-footer .cols .button-col .button {
  width: 120px;
  height: 30px;
  border: 1px solid #0282f9;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .bottom-footer .cols .button-col .button a {
  text-decoration: none;
  color: #fff;
}
footer .bottom-footer .cols .social-col {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}
footer .bottom-footer .cols .social-col h3 {
  color: #0282f9;
}

#jumbotron {
  height: 350px;
  background-image: url("../images/jumbotron.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#comics {
  min-height: 800px;
  background-color: #1c1c1c;
}
#comics .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}
#comics .btn-container .btn {
  width: 150px;
  height: 30px;
  text-transform: uppercase;
}
#comics .btn-container .btn-main {
  background-color: #0282f9;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}
#comics .comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}
#comics .comics-container .card {
  flex-basis: 16.6666666667%;
  margin: 10px 20px;
}
#comics .comics-container .card h5 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

#services {
  height: 150px;
  background-color: #0282f9;
}
#services .services-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
#services .services-container .service {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}
#services .services-container .service h6 {
  color: #fff;
  text-transform: uppercase;
  margin-left: 5px;
}

#comic {
  position: relative;
}
#comic .blu-bar {
  height: 60px;
  background-color: #0282f9;
}
#comic .blu-bar img {
  border: 1px solid #fff;
  position: absolute;
  top: -250px;
}
#comic .main-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
#comic .main-section .text {
  flex-basis: 66.6666666667%;
}
#comic .main-section .text h4 {
  font-size: 25px;
  text-transform: uppercase;
}
#comic .main-section .text h6 {
  color: #fff;
}
#comic .main-section .text .description {
  padding: 15px;
}
#comic .main-section .text .description p {
  line-height: 20px;
}
#comic .main-section .text .info-purchase {
  display: flex;
}
#comic .main-section .text .info-purchase .price-box {
  height: 25px;
  background-color: #55ba59;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 0.5px solid #8b8181;
  width: 75%;
}
#comic .main-section .text .info-purchase .availability {
  height: 25px;
  background-color: #55ba59;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 0.5px solid #8b8181;
  width: 25%;
}
#comic .main-section .advertisement {
  flex-basis: 33.3333333333%;
  padding: 0 25px;
  position: relative;
}
#comic .main-section .advertisement #title-advertisement {
  text-transform: uppercase;
  color: grey;
  position: absolute;
  top: -30px;
  right: 108px;
}
#comic #credits {
  height: 500px;
  background-color: #f6f6f6;
}
#comic #credits .credits-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#comic #credits .credits-container h4 {
  font-size: 20px;
}
#comic #credits .col-6 {
  flex-basis: 50%;
  padding: 20px;
}
#comic #credits .col-6 .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cfcece;
  border-bottom: 1px solid #cfcece;
  padding: 10px;
}
#comic #credits .col-6 .row .by.items {
  flex-basis: 50%;
}
#comic #credits .col-6 .row .made-by {
  flex-basis: 20%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.mx-3 {
  margin: 0 1.5rem;
}

.active {
  border-bottom: 4px solid #0282f9;
}

.clickable {
  cursor: pointer;
}

.content-wrapper {
  height: 500px;
  background-color: yellow;
  padding: 50px;
}
.content-wrapper h1 {
  color: #0282f9;
  text-align: center;
}